@model QuestionVM

<form method="post" asp-action="SaveAnswer" asp-controller="Survey" novalidate>
    <div class="container">
        @if (Model.Questions.Any())
        {
            <div class="section-title">
                <h1><span class="heavy-text"> WIN23 </span>  <span>|| Klassrådsundersökning</span></h1>
            </div>

            <div class="progression-container">
                <h3>Fråga <span id="current-page">@Model.CurrentPage</span> av <span id="total-pages">@Model.TotalPages</span></h3>

                <div class="progress-bar-wrapper">
                    <div class="progress-bar" style="width: @(Model.CurrentPage * 100 / Model.TotalPages)%"></div>
                </div>
            </div>

            <div class="text-wrapper">
                @if (Model.CurrentPage >= 1 && Model.CurrentPage <= Model.TotalPages)
                {
                    <p>@Model.Questions[0].QuestionText</p>
                }
            </div>

            <div class="question-wrapper">
                @if (Model.Questions[0].Options is not null && Model.Questions[0].Options!.Any())
                {
                    <ul>
                        <input type="hidden" name="QuestionId" value="@Model.Questions[0].Id" />
                        @foreach (var option in Model.Questions[0].Options!)
                        {
                            <li>
                                <input type="radio" name="OptionId" value="@option.Id"
                                @(Model.UserAnswers.FirstOrDefault(a => a.QuestionId == Model.Questions[0].Id && a.OptionId == option.Id) != null ? "checked" : "") />
                                @option.Value
                            </li>
                        }
                    </ul>
                }

                @if (Model.Questions[0].HasFreeText)
                {
                    <div class="free-text-container">
                        <label for="response-text">Beskriv:</label>
                        <textarea id="response-text" name="ResponseText" rows="1">@Model.UserAnswers.FirstOrDefault(a => a.QuestionId == Model.Questions[0].Id)?.ResponseText</textarea>
                    </div>
                }

                <div class="btn-container">
                    <div class="btn-back">
                        @if (Model.CurrentPage > 1)
                        {
                            <button type="submit" formaction="@Url.Action("SaveAnswer", new { pageNumber = Model.CurrentPage - 1, isPreviousPage = true})" class="navigate-btn">Föregående</button>
                        }
                        else
                        {
                            <span class="disabled">Föregående</span>
                        }
                    </div>

                    <div class="btn-next">
                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <button type="submit" formaction="@Url.Action("SaveAnswer", new { pageNumber = Model.CurrentPage + 1})" class="navigate-btn">Nästa</button>
                        }
                        else
                        {
                            <button type="submit" formaction="@Url.Action("SaveAnswer", new { pageNumber = Model.CurrentPage, isFinalSubmit = true })" class="btn btn-primary">Skicka in</button>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="completed-container">
                <div class="completed-message">
                    <h2>Inga tillgängliga frågor.</h2>
                    <p>Var god försök igen senare.</p>
                </div>
            </div>
        }
    </div>
</form>
